<section class="property-binding">
    <article>
        <h3>Interpolation</h3>
        <p>test string {{ url }}</p>
        <p>Result 1+1 {{ 1 + 1 }}</p>
        <p>{{ getValue() }}</p>
        <p>{{ condition && getCondition() }}</p>
        <img src="{{ urlImage }}">
    </article>

    <article>
        <h3>Propery Binding</h3>
        <img [src]="urlImage">
    </article>

    <article>
        <h3>Class and Style Binding</h3>
        <div>
            Select one class:
            <select #class (change)="0">
                <option value="alert-success">Sucess</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Warning</option>
                <option value="alert-danger">Danger</option>
            </select>
            <br><br>

            <div class="alert {{ class.value }}">
                Text color selected
            </div>

            <div class="alert" role="alert" [class.alert-success]="class.value === 'alert-success'">Sucess</div>
            <div class="alert" role="alert" [class.alert-info]="class.value === 'alert-info'">Info</div>
            <div class="alert" role="alert" [class.alert-warning]="class.value === 'alert-warning'">Warning</div>
            <div class="alert" role="alert" [class.alert-danger]="class.value === 'alert-danger'">Danger</div>
            
            <div class="alert alert-danger" role="alert" 
            [style.display]="class.value === 'alert-danger' ? 'block' : 'none'">Error test</div>
        </div>
    </article>
</section>